@model List<Songul_Kosak_211103058.DAL.Lens>

@{
    ViewBag.Title = "Lens";
}

<main id="site-content" class="site-content" role="main">


    <article class="post-242 page type-page status-publish hentry" id="post-242">


        <div class="content-area__wrapper">
            <div class="content-area entry-content">

                <p class="has-text-align-center">Geniş lens stoklarımız sayesinde ihtiyacınız olan lensinizi her zaman mağazamızdan en iyi fiyata temin edebilirsiniz.</p>

                <figure class="is-layout-flex wp-block-gallery-1 wp-block-gallery has-nested-images columns-3 is-cropped">
                    @foreach (var item in Model)
                    {


                        <figure class="wp-block-image size-full"><img decoding="async" width="320" height="180" src=@item.LensResimYolu></figure>

                    }

                    @*<figure class="wp-block-image size-full"><img decoding="async" width="320" height="180" data-id="255" src="/Content/Lens/nightday.png" alt="Image gallery image" class="wp-image-255" srcset="/Content/Lens/nightday.png 320w, /Content/Lens/nightday-300x169.png 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="252" src="/Content/Lens/hydraglyde.jpg" alt="Image gallery image" class="wp-image-252" srcset="/Content/Lens/hydraglyde.jpg 320w, /Content/Lens/hydraglyde-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="268" src="/Content/Lens/aqua.png" alt="Image gallery image" class="wp-image-268" srcset="/Content/Lens/aqua.png 320w, /Content/Lens/aqua-300x169.png 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="287" src="/Content/Lens/biofinity.jpg" alt="Image gallery image" class="wp-image-287" srcset="/Content/Lens/biofinity.jpg 320w, /Content/Lens/biofinity-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="279" src="/Content/Lens/freshlook.jpg" alt="Image gallery image" class="wp-image-279" srcset="/Content/Lens/freshlook.jpg 320w, /Content/Lens/freshlook-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="281" src="/Content/Lens/colors.png" alt="Image gallery image" class="wp-image-281" srcset="/Content/Lens/colors.png 320w, /Content/Lens/colors-300x169.png 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="327" src="/Content/Lens/optixcolors.png" alt="Image gallery image" class="wp-image-327" srcset="/Content/Lens/optixcolors.png 320w, /Content/Lens/optixcolors-300x169.png 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="283" src="/Content/Lens/oasys.jpg" alt="Image gallery image" class="wp-image-283" srcset="/Content/Lens/oasys.jpg 320w, /Content/Lens/oasys-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="313" src="/Content/Lens/air-optix-toric.png" alt="Image gallery image" class="wp-image-313" srcset="/Content/Lens/air-optix-toric.png 320w, /Content/Lens/air-optix-toric-300x169.png 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="314" src="/Content/Lens/biofinity-toric-1-o.jpg" alt="Image gallery image" class="wp-image-314" srcset="/Content/Lens/biofinity-toric-1-o.jpg 320w, /Content/Lens/biofinity-toric-1-o-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="320" height="180" data-id="315" src="/Content/Lens/oasys-toric-1-l.jpg" alt="Image gallery image" class="wp-image-315" srcset="/Content/Lens/oasys-toric-1-l.jpg 320w, /Content/Lens/oasys-toric-1-l-300x169.jpg 300w" sizes="(max-width: 320px) 100vw, 320px"></figure>



                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="356" height="198" data-id="309" src="/Content/Lens/purevision.png" alt="Image gallery image" class="wp-image-309" srcset="/Content/Lens/purevision.png 356w, /Content/Lens/purevision-300x167.png 300w" sizes="(max-width: 356px) 100vw, 356px"></figure>*@
                </figure>



                <p></p>
            </div>ç
        </div>

    </article>

</main>

