@model List<Songul_Kosak_211103058.DAL.Markalarimiz>
@{
    ViewBag.Title = "Markalarimiz";
}

<main id="site-content" class="site-content" role="main">


    <article class="post-48 page type-page status-publish hentry" id="post-48">


        <div class="content-area__wrapper">
            <div class="content-area entry-content">

                <div class="is-layout-flex wp-container-2 wp-block-columns are-vertically-aligned-top">
                    <div class="is-layout-flow wp-block-column is-vertically-aligned-top" style="flex-basis:100%">
                        @foreach (var item in Model)
                        {
                            <div class="wp-block-image">
                                <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src=@item.MarkaResimYolu></figure>
                            </div>
                        }

                        @*<div class="wp-block-image">
                            <figure class="aligncenter size-large is-resized"><img decoding="async" src="/Content/rayban.jpg" alt="" class="wp-image-123" width="181" height="123" srcset="/Content/rayban.jpg 847w, /Content/rayban-300x204.jpg 300w, /Content/rayban-768x523.jpg 768w,/Content/rayban-600x409.jpg 600w" sizes="(max-width: 181px) 100vw, 181px"></figure>
                        </div>*@
                    </div>
                </div>


                @*<div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/Prada-logo-wordmark-1024x197.png" alt="" class="wp-image-126" width="343" height="65" srcset="/Content/Prada-logo-wordmark-1024x197.png 1024w, /Content/Prada-logo-wordmark-300x58.png 300w, /Content/Prada-logo-wordmark-768x148.png 768w, /Content/Prada-logo-wordmark-1536x296.png 1536w, /Content/Prada-logo-wordmark-600x116.png 600w, /Content/Prada-logo-wordmark.png 1657w" sizes="(max-width: 343px) 100vw, 343px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/dolcegabbana.png" alt="" class="wp-image-122" width="386" height="61" srcset="/Content/dolcegabbana.png 532w, /Content/dolcegabbana-300x47.png 300w" sizes="(max-width: 386px) 100vw, 386px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/bvlgari-1024x213.png" alt="" class="wp-image-76" width="347" height="72"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/burberry-1024x171.jpg" alt="" class="wp-image-77" width="346" height="57" srcset="/Content/burberry-1024x171.jpg 1024w, /Content/burberry-300x50.jpg 300w, /Content/burberry-768x128.jpg 768w, /Content/burberry-600x100.jpg 600w, /Content/burberry.jpg 1073w" sizes="(max-width: 346px) 100vw, 346px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/persol.png" alt="" class="wp-image-131" width="185" height="136" srcset="/Content/persol.png 530w, /Content/persol-300x220.png 300w" sizes="(max-width: 185px) 100vw, 185px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/oakley.png" alt="" class="wp-image-130" width="229" height="86" srcset="/Content/oakley.png 500w, /Content/oakley-300x113.png 300w" sizes="(max-width: 229px) 100vw, 229px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/giorgio.png" alt="" class="wp-image-129" width="334" height="52" srcset="/Content/giorgio.png 500w, /Content/giorgio-300x47.png 300w" sizes="(max-width: 334px) 100vw, 334px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="436" height="115" src="/Content/pradalinearossa.png" alt="" class="wp-image-298" srcset="/Content/pradalinearossa.png 436w, /Content/pradalinearossa-300x79.png 300w" sizes="(max-width: 436px) 100vw, 436px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/emporio.png" alt="" class="wp-image-128" width="394" height="72" srcset="/Content/emporio.png 499w, /Content/emporio-300x55.png 300w" sizes="(max-width: 394px) 100vw, 394px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/flair.png" alt="" class="wp-image-201" width="227" height="126" srcset="/Content/flair.png 512w, /Content/flair-300x166.png 300w" sizes="(max-width: 227px) 100vw, 227px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/versace.png" alt="" class="wp-image-333" width="246" height="155" srcset="/Content/versace.png 400w, /Content/versace-300x189.png 300w" sizes="(max-width: 246px) 100vw, 246px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/silhouette-1.png" alt="" class="wp-image-204" width="270" height="81" srcset="/Content/silhouette-1.png 410w, /Content/silhouette-1-300x90.png 300w" sizes="(max-width: 270px) 100vw, 270px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="228" height="67" src="/Content/dita.png" alt="" class="wp-image-212"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="190" height="99" src="/Content/polo.png" alt="" class="wp-image-211"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="270" height="115" src="/Content/tag-heuer.png" alt="" class="wp-image-210"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="309" height="67" src="/Content/miumiu.png" alt="" class="wp-image-209" srcset="/Content/miumiu.png 309w, /Content/miumiu-300x65.png 300w" sizes="(max-width: 309px) 100vw, 309px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="200" height="125" src="/Content/montblanc.png" alt="" class="wp-image-208"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/davidoff.png" alt="" class="wp-image-222" width="328" height="110" srcset="/Content/davidoff.png 886w, /Content/davidoff-300x102.png 300w, /Content/davidoff-768x260.png 768w, /Content/davidoff-600x203.png 600w" sizes="(max-width: 328px) 100vw, 328px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large"><img decoding="async" loading="lazy" width="314" height="92" src="/Content/gozluk-osse-1-1.jpg" alt="" class="wp-image-230" srcset="/Content/gozluk-osse-1-1.jpg 314w, /Content/gozluk-osse-1-1-300x88.jpg 300w" sizes="(max-width: 314px) 100vw, 314px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/gozluk-hawk-1-1.jpg" alt="" class="wp-image-232" width="211" height="81"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/Unknown.png" alt="" class="wp-image-227" width="218" height="90"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/vogue.jpg" alt="" class="wp-image-295" width="236" height="123" srcset="/Content/vogue.jpg 480w, /Content/vogue-300x156.jpg 300w" sizes="(max-width: 236px) 100vw, 236px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/lindberg-logo-1.jpg" alt="" class="wp-image-238" width="339" height="43" srcset="/Content/lindberg-logo-1.jpg 732w, /Content/lindberg-logo-1-300x39.jpg 300w, /Content/lindberg-logo-1-600x78.jpg 600w" sizes="(max-width: 339px) 100vw, 339px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/jaguar.jpg" alt="" class="wp-image-336" width="221" height="109" srcset="/Content/jaguar.jpg 500w, /Content/jaguar-300x148.jpg 300w" sizes="(max-width: 221px) 100vw, 221px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-large is-resized"><img decoding="async" loading="lazy" src="/Content/763-7637364_oliver-peoples-logo-png-graphics-transparent-png-2.png" alt="" class="wp-image-362" width="473" height="112" srcset="/Content/763-7637364_oliver-peoples-logo-png-graphics-transparent-png-2.png 860w, /Content/763-7637364_oliver-peoples-logo-png-graphics-transparent-png-2-300x72.png 300w, /Content/763-7637364_oliver-peoples-logo-png-graphics-transparent-png-2-768x183.png 768w" sizes="(max-width: 473px) 100vw, 473px"></figure>
                </div>

                <div class="wp-block-image">
                    <figure class="aligncenter size-full is-resized"><img decoding="async" loading="lazy" src="/Content/tidou-logo.png" alt="" class="wp-image-428" width="277" height="79" srcset="/Content/tidou-logo.1.png 400w, /Content/tidou-logo-300x86.png 300w" sizes="(max-width: 277px) 100vw, 277px"></figure>
                </div>*@
            </div>
        </div>

    </article>

</main>